<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <tab id="koklu" translate="label" sortOrder="100">
            <label>Koklu</label>
        </tab>
        <section id="recommender" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Recommender</label>
            <tab>koklu</tab>
            <resource>Koklu_Recommender::config_recommender</resource>
            <group id="general" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="api" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>API</label>
                <field id="base_url" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Base URL</label>
                </field>
            </group>
        </section>
    </system>
</config>
